@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

/*Inicio do reset */
body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121e;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

/* final do reset */
/* Inicio do pop up */
dialog {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url(img/alerta\ de\ golpe.jpg);
  background-size: cover;
  background-position: center;
  border: none;
  padding: 0;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6039215686);
}

.pop {
  width: 42%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aviso {
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
}

.alerta {
  width: 210px;
  border-radius: 10px;
  color: rgb(255, 252, 252);
  text-decoration: none;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background-color: #000000;
}

.fonte {
  width: 210px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  margin-top: 5px;
}

.x {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: red;
  color: white;
  border: 0;
  font-size: 24px;
  cursor: pointer;
}

.no-scroll {
  position: fixed; /* Mantém a posição fixa ao bloquear */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* Bloqueia a rolagem */
}

@media screen and (max-width: 768px) {
  .aviso {
    font-size: 1rem;
  }
  .alerta {
    font-size: 1rem;
    width: 80%;
  }
  .fonte {
    width: 100%;
    font-size: 0.5rem;
    text-align: center;
  }
  dialog {
    background-size: 100%;
    height: 35%;
  }
  .x {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}
/* Final do pop up */
/*Header*/
header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  color: white;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover svg {
  animation: translateY 0.8s infinite alternate;
  color: green;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.2);
  }
}
.header-button {
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  text-align: center;
  background-color: transparent;
  transition: background-color 0, 8s;
}

.header-button:hover {
  border: 1px solid green;
  background-color: green;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  svg {
    margin-top: 16px;
    width: 22px;
    height: 22px;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }
}
/* Fim do header*/
/* Inicio do layout */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  position: absolute;
  display: block;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url(img/Penido\ e\ Penido\ \(247\).jpg);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 60px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
  font-size: 20px;
}

.button-contact {
  padding: 14px 28px;
  color: white;
  background-color: green;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 1465px) {
  .bg-home::before {
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url(img/Penido\ e\ Penido\ \(242\).jpg);
  }
}
@media screen and (max-width: 999px) {
  .bg-home::before {
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url(img/Penido\ e\ Penido\ \(258\).jpg);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}
/* Fim do layout */
/* Inicio do sobre */
.about {
  background-color: #06121e;
  overflow: hidden;
  color: white;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34 px 14px 64px 14px;
}
.about-content img {
  max-width: 600px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
  text-align: justify;
}

mark {
  border-radius: 3px;
  background-color: rgb(245, 245, 227);
  padding: 0 5px;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  h2 {
    align-items: center;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .about-content img {
    height: 70%;
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}
/* final do sobre */
/* Inicio serciço */
.services {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.service-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.service-content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}

.serviços {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.serviço {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px #000;
  overflow: hidden;
}
.serviço img {
  width: 100%;
  height: 354px;
  transition: transform 0.2s;
}

.serviço img:hover {
  transform: scale(1.1);
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .serviços {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .serviços {
    flex-direction: column;
  }
  .services {
    padding: 14px;
  }
}
@media screen and (max-width: 560px) {
  .serviços {
    flex-direction: column;
  }
  .services {
    padding-top: 0px;
  }
  .serviço img {
    height: 110%;
  }
}
@media screen and (max-width: 560px) and (max-width: 239px) {
  .service-content h2 {
    font-size: 30px;
  }
}
/*Fim do serviço */
/*Inicio footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 30px;
  color: white;
}

.footer-icons {
  display: flex;
  gap: 8px;
  color: white;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*Fim do footer */
/*Botao whatsapp*/
.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: #272727;
  color: white;
  opacity: 0;
  transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 60px;
  }
}
/* Inicio slider */
.adv {
  background-color: rgb(250, 250, 250);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.adv-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.adv-content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}

.slider {
  margin: 0 auto;
  width: 800px;
  height: 800px;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  width: 400%;
  height: 800px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid blue;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 760px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .slide img {
    width: 100%;
    height: 65%;
    border-radius: 10px;
  }
  .navigation-auto {
    width: 90%;
    margin-top: 580px;
  }
  .manual-navigation {
    width: 90%;
    margin-top: -370px;
  }
  .slider {
    width: 100%;
    margin-bottom: -300px;
    border-radius: 10px;
  }
  .slides {
    width: 400%;
    height: 950px;
    display: flex;
  }
}
@media screen and (max-width: 560px) {
  .slide img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
  }
  .navigation-auto {
    width: 90%;
    margin-top: 450px;
  }
  .manual-navigation {
    width: 90%;
    margin-top: -500px;
  }
  .slider {
    width: 100%;
    margin-bottom: -300px;
    border-radius: 10px;
  }
  .slides {
    width: 400%;
    height: 950px;
    display: flex;
  }
}
@media screen and (max-width: 429px) {
  .slide img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
  }
  .navigation-auto {
    width: 90%;
    margin-top: 300px;
  }
  .manual-navigation {
    width: 90%;
    margin-top: -350px;
  }
  .slider {
    width: 100%;
    margin-bottom: -470px;
    border-radius: 10px;
  }
  .slides {
    width: 400%;
    height: 650px;
    display: flex;
  }
}
@media screen and (max-width: 429px) and (max-width: 301px) {
  .adv-content h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 429px) and (max-width: 245px) {
  .adv-content h2 {
    font-size: 25px;
  }
}
/* Final do slider */
/* inicio popup advogados */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.popup:target {
  display: flex;
  z-index: 1;
}

.popup-content {
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.popup-image {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 19px;
  right: 25px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
}

.popup-content {
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: black;
  z-index: 1010;
  text-decoration: none;
}

.close a {
  color: inherit;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}/*# sourceMappingURL=style.css.map */